name: release

on:
  release:
    types: [created]
env:
  GO_VERSION: '1.22.4'
  DOCKER_FILE: Dockerfile.release
jobs:
  releases-linux-binaries:
    name: Release Go Binaries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v4
      - uses: wangyoucao577/go-release-action@v1.53
        with:
          github_token: ${{ secrets.REPO_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: ${{ env.GO_VERSION }}
          extra_files: LICENSE README.md
  image-gitHub:
    name: Release docker image
    runs-on: ${{ matrix.os }}
    needs: [releases-linux-binaries]
    env:
      DOCKER_BUILD_ARG_RELEASE: ${{ github.ref_name }}
      REGISTRY_PREFIX: ghcr.io
    strategy:
      matrix:
        go_version: ${{ env.GO_VERSION  }}
        os: [ubuntu-latest]
    steps:
      - name: Set up Go ${{ matrix.go_version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go_version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set version variables to shared
        run: echo "VERSION=${DOCKER_BUILD_ARG_RELEASE#v}" >> $GITHUB_ENV

      - name: Build docker images for host arch
        run: |
          make image.build.$(go env GOOS)_$(go env GOARCH)

      - name: Log in to ${{ env.REGISTRY_PREFIX }} registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ${{ env.REGISTRY_PREFIX }} -u $ --password-stdin

      - name: Push images to ${{ env.REGISTRY_PREFIX }} registry
        run: |
          make image.push
  image-dockerHub:
    name: Release docker image
    runs-on: ${{ matrix.os }}
    needs: [releases-linux-binaries]
    env:
      DOCKER_BUILD_ARG_RELEASE: ${{ github.ref_name }}
      REGISTRY_PREFIX: huhouhua
      IMAGE: glctl
    strategy:
      matrix:
        go_version: ${{ env.GO_VERSION  }}
        os: [ubuntu-latest]
    steps:
      - name: Set up Go ${{ matrix.go_version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go_version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set version variables to shared
        run: echo "VERSION=${DOCKER_BUILD_ARG_RELEASE#v}" >> $GITHUB_ENV

      - name: Build docker images for host arch
        run: |
          make image.build.$(go env GOOS)_$(go env GOARCH)

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push images to DockerHub  registry
        run: |
          make image.push